@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBanHaiSan.Models.Product>
<style>
    .centered {
        display: flex;
        justify-content: center;
    }
</style>
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            string url = $"";
            if (item.Discount > 0)
            {
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">- @item.Discount %</p>
                            </div>
                            <a href="@url">
                                <img src="~/images/products/@item.Thumb" class="img-fluid" alt="@item.Productname" style="height:200px; width:600px">
                            </a>
                        </div>
                        <div class="why-text">
                            <a class="centered" asp-controller="ProductHome" asp-action="Details" asp-route-id="@item.ProductId">
                                <h4>@item.Productname</h4>
                            </a>
                            <h3 class="centered" style="margin-bottom:10px">@(@item.Price - item.Price * (item.Discount / 100)) VNĐ</h3>
                            <p class="centered"><a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn hvr-hover" style="color:white">Thêm Vào Giỏ Hàng</a></p>
                        </div>
                    </div>
                </div>
            }
            else if (item.Bestseller == true)
            {
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Bán Chạy</p>
                            </div>
                            <a href="@url">
                                <img src="~/images/products/@item.Thumb" class="img-fluid" alt="@item.Productname" style="height:200px; width:600px">
                            </a>
                        </div>
                        <div class="why-text">
                            <a class="centered" asp-controller="ProductHome" asp-action="Details" asp-route-id="@item.ProductId">
                                <h4>@item.Productname</h4>
                            </a>
                            <h3 class="centered" style="margin-bottom:10px">@item.Price VNĐ</h3>
                            <p class="centered"><a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn hvr-hover" style="color:white">Thêm Vào Giỏ Hàng</a></p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <a href="@url">
                                <img src="~/images/products/@item.Thumb" class="img-fluid" alt="@item.Productname" style="height:200px; width:600px">
                            </a>
                        </div>
                        <div class="why-text">
                            <a class="centered" asp-controller="ProductHome" asp-action="Details" asp-route-id="@item.ProductId">
                                <h4>@item.Productname</h4>
                            </a>
                            <h3 class="centered" style="margin-bottom:10px">@item.Price VNĐ</h3>
                            <p class="centered"><a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn hvr-hover" style="color:white">Thêm Vào Giỏ Hàng</a></p>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<div aria-label="Page navigation example" class="centered">
    <ul class="pagination">
        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" list="@Model" asp-area="" asp-controller="ProductHome" asp-action="Index" />
    </ul>
</div>