@model WebBanHaiSan.Models.Store

<div class="modal fade" id="editModal-@Model.StoreId" tabindex="-1" role="dialog" aria-labelledby="editModalLabel-@Model.StoreId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel-@Model.StoreId">Sửa Cửa Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@Model.StoreId" />
                    <input type="hidden" asp-for="StoreId" value="@Model.StoreId" />

                    <div class="form-group">
                        <label asp-for="StoreName">Tên Cửa Hàng</label>
                        <input type="text" class="form-control" asp-for="StoreName">
                        <input type="hidden" asp-for="StoreName" value="@Model.StoreName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Địa Chỉ Email:</label>
                        <input type="text" class="form-control" asp-for="Email">
                        <input type="hidden" asp-for="Email" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Điện Thoại:</label>
                        <input type="text" class="form-control" asp-for="Phone">
                        <input type="hidden" asp-for="Phone" value="@Model.Phone" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Adress">Địa Chỉ:</label>
                        <input type="text" class="form-control" asp-for="Adress">
                        <input type="hidden" asp-for="Adress" value="@Model.Adress" />
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" asp-for="Active" /> Active<i class="input-helper"></i>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </form>
            </div>
        </div>
    </div>
</div>
